#hiddenWindowRight {
	display: none;

	height: 100px;
	width: 50px;
	border-radius: 1rem 0 0 1rem;

	align-items: center;
	justify-content: center;

	background: var(--background);
	color: var(--white);
}
