.main {
	display: flex;
	justify-content: center;

	background: var(--background);

	.container {
		width: 95vw;
		height: 90vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		font-size: 2rem;
	}

	h1 {
		margin-bottom: 1.5rem;
	}

	p {
		color: var(--gray-600);

		span {
			color: var(--purple);

			&:nth-child(2) {
				color: var(--green);
			}
		}
	}

	.githubContainer {
		display: flex;
		gap: 1rem;

		margin-top: 1.5rem;

		button {
			display: flex;
			align-items: center;
			gap: 1rem;

			padding: 1rem 1.5rem;
			border: 1px solid var(--purple);
			border-radius: 1rem;
			box-shadow: var(--purple) 0px 0px 2px;

			&.sourceButton {
				border: 1px solid var(--green);
				box-shadow: var(--green) 0px 0px 2px;
			}

			color: var(--white);

			transition: 0.3s ease;

			&:hover {
				background: var(--purple);
				color: var(--background);

				&.sourceButton {
					background: var(--green);
				}
			}
		}
	}
}
.goDown {
	fill: var(--purple);

	animation: bump 1.5s ease-in-out infinite alternate;

	@keyframes bump {
		from {
			transform: translateY(-5px);
		}
		to {
			transform: translateY(5px);
		}
	}
}
.preview {
	height: fit-content;
	padding: 5rem 0;

	background: var(--gray-900);

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1.5rem;

	h1 {
		font-size: 2.5rem;
		margin-bottom: 1rem;

		color: var(--gray-600);
	}

	.disclaimer {
		color: var(--red);
		font-size: 0.9rem;

		a {
			position: relative;
			color: var(--purple);
			&:after {
				position: absolute;
				left: 0;
				bottom: 0;
				content: '';
				height: 2px;
				background: var(--green);
				width: 0;
				transition: width 0.4s ease;
			}
			&:hover:after {
				width: 100%;
			}
		}
	}

	section {
		width: 70%;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;

		> div {
			text-align: center;

			> p {
				margin-top: 0.5rem;
				font-size: 1.2rem;
				color: var(--green);
			}
		}
	}

	.desktopContainer {
		width: 90%;
		height: 30rem;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		position: relative;
		overflow: hidden;

		border-radius: 1rem;

		background: var(--background);

		.window {
			width: 100%;

			display: flex;
			justify-content: start;
			gap: 0.3rem;
			padding: 1rem;

			> div {
				width: 0.7rem;
				height: 0.7rem;

				border-radius: 100%;

				background: var(--purple);

				&:nth-child(1) {
					background: var(--red);
				}

				&:nth-child(2) {
					background: var(--yellow);
				}

				&:nth-child(3) {
					background: var(--green);
				}
			}
		}

		.taskbar {
			width: 100%;

			padding: 1rem 1rem 0.7rem;

			> div {
				display: flex;
				justify-content: center;
				gap: 1rem;

				> div {
					display: flex;
					flex-direction: column;
					align-items: center;

					> div {
						width: 3rem;
						height: 3rem;

						background: var(--gray-800);
						border-radius: 1rem;
					}

					> span {
						height: 5px;
						width: 5px;

						display: block;
						margin-top: 5px;

						background: var(--white);
						border-radius: 100%;
					}
				}
			}
		}

		.showWindowContainer {
			width: 100%;

			display: flex;
			justify-content: end;

			.hideWindow {
				width: 50px;
				height: 100px;

				display: none;
				justify-content: center;
				align-items: center;
				right: 0;

				border-radius: 1rem 0 0 1rem;
				background: var(--purple);
				color: var(--white);
			}
		}

		.menuContainer {
			width: 200px;
			height: fit-content;

			background: var(--purple);
			border-radius: 1rem;

			position: absolute;
			top: 20%;
		}
	}
}

.features {
	background: var(--background);
	height: fit-content;

	.featureItems {
		width: 60%;
		height: 100%;
		margin: 2rem 0;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: center;
		align-items: flex-start;

		> div {
			height: 15rem;
			width: 20rem;

			display: flex;
			justify-content: center;
			align-items: center;

			border-radius: 1rem;
			background: var(--gray-900);

			> div {
				width: 80%;
				height: 70%;

				display: flex;
				flex-direction: column;
				align-items: flex-start;
				text-align: start;

				p,
				h3 {
					margin-top: 1rem;
				}

				span {
					color: var(--green-200);
				}

				ul {
					padding: 0.5rem 1.5rem;
				}

				a {
					color: var(--purple);
					text-decoration: underline;

					margin-top: 0.5rem;
					transition: 0.3s ease;

					&:hover {
						color: var(--purple-100);
					}

					&.upcomingAnchor {
						color: var(--green);

						&:hover {
							color: var(--green-200);
						}
					}
				}
			}
		}
	}

	.upcomingFeatures {
		p {
			color: var(--purple);
			display: inline;
		}
		a {
			color: var(--green);
			text-decoration: underline;
			font-size: 1.2rem;
			transition: 0.3s ease;
			&:hover {
				color: var(--green-200);
			}
		}
	}
}

@media (max-width: 1070px) {
	.featureItems {
		grid-template-columns: 1fr !important;
		> div {
			width: 100% !important;
			> div {
				justify-content: center;

				ul {
					display: flex;
					gap: 2rem;
				}
			}
		}
	}
}

@media (max-width: 550px) {
	.preview {
		section {
			// &:first-child {
			width: 90%;
			// }
		}
	}
	.container {
		p {
			width: 95%;
			text-align: center;
		}
	}

	.featureItems {
		width: 80% !important;
		> div {
			> div {
				ul {
					display: block;
				}
			}
		}
	}
}

@media (max-width: 430px) {
	.taskbar {
		display: none;
	}
	.disclaimer {
		width: 80%;
		text-align: center;
	}
}
