.menu {
	width: 90%;
	height: fit-content;

	display: none;
	background: var(--background);
	margin-top: 10px;
	svg {
		fill: var(--white);
	}
	.background-sounds-container {
		margin-top: 10px;
		> div + div {
			margin-top: 10px;
		}
	}
	.category-container {
		display: flex;
		justify-content: space-between;

		margin-top: 10px;
		button {
			padding: 5px;
			background: var(--white);
			border-radius: 2px;

			font-size: 0.9rem;
			color: var(--background);

			transition: filter 0.2s;
			&.active-playlist {
				background: var(--purple-300);
				color: var(--white);
			}
			&:hover {
				filter: brightness(0.7);
			}
		}
	}
}
