* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--white: #fff;
	--background: #000;

	--gray-100: rgb(112, 112, 112);

	--red-100: #ff5555;

	--purple-300: #7747b9;
	// --purple-300: #007bff;
}

body {
	overflow: hidden;
}

body,
input,
textarea,
select,
button {
	font: 400 1rem 'Inter', sans-serif;
	color: var(--white);
}

button {
	cursor: pointer;
	background: none;
	border: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.App {
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
}

.wrapper {
	width: 200px;
	height: fit-content;

	background: var(--background);
	border-radius: 1rem;

	position: relative;
}

.play-loading {
	animation: rotate 1s infinite ease;
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
