.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	.sending {
		color: var(--purple);
	}

	.error {
		color: var(--red) !important;
	}

	.success {
		color: var(--green);
	}

	> p {
		margin: 0.5rem 0;
		position: absolute;
		bottom: -55%;

		animation: desappear 0s ease-in 5s forwards;
		transition: all 0.3s ease;
		transform: scale(1);

		@keyframes desappear {
			to {
				transform: scale(0);
			}
		}
	}

	> div {
		width: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	input {
		width: 100%;
		padding: 0.5rem;
		background: var(--gray-900);
		border: 1px solid var(--gray-600);
		color: var(--white);
		border-radius: 0.5rem;
		&:focus {
			outline: 1px solid var(--green);
		}
		&::placeholder {
			color: var(--gray-600);
		}
	}

	button {
		width: 6rem;
		margin-top: 1rem;
		padding: 0.5rem;
		border-radius: 0.5rem;
		// background: var(--purple);
		border: 1px solid var(--purple);
		box-shadow: var(--purple) 0px 0px 2px;
		transition: 0.3s ease;

		&:hover {
			background: var(--purple);
			color: var(--background);
		}
	}
}
