.menu {
	width: 90%;
	height: fit-content;

	display: none;
	background: var(--background);
	margin-top: 10px;
	user-select: none;
	position: relative;
	svg {
		fill: var(--white);
	}
	.background-sounds-container {
		margin-top: 10px;
		> div + div {
			margin-top: 10px;
		}
	}

	::-webkit-scrollbar {
		display: none;
	}

	::-webkit-scrollbar-button {
		display: none;
	}

	.category-container {
		width: 110%;
		margin-top: 10px;

		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0.5rem;
		position: relative;

		overflow-x: scroll;
		scroll-behavior: smooth;

		transition: all 0.3s ease;
		transform-origin: right;

		&.active {
			transform: scale(1) !important;
			position: static !important;
		}
		&.disabled {
			transform: scale(0);
			position: absolute;
		}

		> div {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.trend {
			position: absolute;
			z-index: 3;
			top: -40%;
			right: -15%;

			fill: var(--red);
		}

		button {
			padding: 5px;
			background: var(--white);
			border-radius: 0.4rem;
			position: relative;

			font-size: 0.9rem;
			color: var(--background);
			white-space: nowrap;

			transition: filter 0.2s;
			&.active-playlist {
				background: var(--purple);
				color: var(--white);
			}
			&:hover {
				filter: brightness(0.7);
			}
			&.multiple {
				background: var(--yellow);
				color: var(--white);
			}
		}
	}
}
