#footer {
	display: none;
	justify-content: center;

	padding: 0.3rem 0.5rem;
	border-top: 0.5px solid var(--gray-100);

	font-size: 0.7rem;
	font-weight: 400;
	> div {
		width: 90%;

		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-top: 2px;
		> div {
			svg {
				cursor: pointer;

				filter: brightness(0.5);
				transition: filter 0.2s;
				&:hover {
					filter: brightness(1);
				}
				// &:first-child {
				// 	fill: var(--red-100);
				// 	margin-right: 10px;
				// }
			}
		}
	}
	p {
		cursor: pointer;

		filter: brightness(0.5);
		transition: filter 0.2s;
		&:hover {
			filter: brightness(1);
		}
	}
}
