.footer {
	// margin-top: 20px;
	display: flex;
	display: none;
	padding: 0.2rem 0.5rem;
	border-top: 1px solid var(--gray-100);
	font-size: 0.7rem;
	font-weight: 400;
	> div {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 2px;
		> div {
			svg {
				cursor: pointer;
				filter: brightness(0.5);
				transition: filter 0.2s;
				&:hover {
					filter: brightness(1);
				}
				&:first-child {
					fill: var(--red-100);
					margin-right: 10px;
				}
			}
		}
	}
	p {
		cursor: pointer;
		filter: brightness(0.5);
		transition: filter 0.2s;
		&:hover {
			filter: brightness(1);
		}
	}
}
