.navbar {
	position: fixed;
	padding: 1rem;
	left: 0;

	> button {
		margin-right: 1rem;
		margin-bottom: 0.5rem;

		// svg {
		// 	animation: out 0.8s ease-in-out;
		// }

		// @keyframes in {
		// 	from {
		// 		transform: rotate(0deg);
		// 	}
		// 	to {
		// 		transform: rotate(360deg);
		// 	}
		// }
		// @keyframes out {
		// 	from {
		// 		transform: rotate(360deg);
		// 	}
		// 	to {
		// 		transform: rotate(0deg);
		// 	}
		// }

		&:hover {
			svg {
				animation: in 0.8s ease-in-out;
			}
		}
	}

	.active {
		transform: scale(1);
	}

	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		height: fit-content;
		background: var(--gray-900);
		padding: 1rem;
		border-radius: 0.5rem;
		transition: all 0.3s ease;
		transform: scale(0);
		transform-origin: top left;

		gap: 0.7rem;
		li {
			// animation: slideIn 0.5s ease;

			.support {
				&:hover {
					color: var(--red);
					fill: var(--red);
				}
			}

			a {
				display: flex;
				align-items: center;
				gap: 0.5rem;

				transition: 0.3s ease;

				&:hover {
					color: var(--purple);
				}
			}

			// &:nth-child(2) {
			// 	animation-delay: 0.2s;
			// }
			// &:nth-child(3) {
			// 	animation-delay: 0.3s;
			// }
			// &:nth-child(4) {
			// 	animation-delay: 0.5s;
			// }

			// @keyframes slideIn {
			// 	from {
			// 		opacity: 0;
			// 		transform: translateX(-100px);
			// 	}
			// 	to {
			// 		opacity: 1;
			// 		transform: translateX(100);
			// 	}
			// }
		}
	}
}
