.container {
	background: var(--background);
	// height: fit-content;

	.playlistContainer {
		height: 10rem;
		width: 45rem;
		display: flex;
		justify-content: space-between;

		border-radius: 1rem;
		background: var(--purple);

		transition: 0.3s ease;

		&:hover {
			filter: brightness(90%);

			> div {
				> div {
					background: var(--white);
					color: var(--background);
				}
			}
		}

		&:nth-child(2) {
			margin-top: 2.5rem;
		}

		&:nth-child(3) {
			.playlistImageContainer {
				background-image: url('../../assets/lofifruits.jpg');
			}
		}
		&:nth-child(4) {
			.playlistImageContainer {
				background-image: url('../../assets/sleepygirl.jpg');
			}
		}

		> div {
			padding: 2rem;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 0.5rem;

			text-align: start;

			h3 {
				color: var(--gray-900);
			}

			a {
				color: var(--white);
				position: relative;
				&:after {
					position: absolute;
					left: 0;
					bottom: 0;
					content: '';
					height: 3px;
					background: var(--green-200);
					width: 0;
					transition: width 0.4s ease;
				}
				&:hover:after {
					width: 100%;
				}
			}

			> div {
				width: fit-content;
				border-radius: 0.4rem;
				padding: 5px;
				font-size: 0.9rem;
				background: var(--background);
				color: var(--white);

				transition: 0.3s ease;
			}
		}

		.playlistImageContainer {
			border-radius: 0 1rem 1rem 0;
			padding: 0;
			width: 15rem;
			height: 100%;

			background-image: url('../../assets/lofigirl.jpg');
			background-size: cover;
		}
	}
}

.linkContainer {
	p {
		color: var(--purple);
		display: inline;
		font-size: 1.2rem;
	}
	a {
		color: var(--green);
		text-decoration: underline;
		font-size: 1.2rem;
		transition: 0.3s ease;
		&:hover {
			color: var(--green-200);
		}
	}
}
