#hiddenWindowLeft {
	display: none;

	height: 100px;
	width: 50px;
	border-radius: 0 1rem 1rem 0;

	align-items: center;
	justify-content: center;

	background: var(--background);
	color: var(--white);
}
